/* GLOBAL STYLES */


body {
  color: #5a5a5a;
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
}

h1 {
  color: white;
  margin-bottom: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


/* NAVBAR */

.navbar {
  background-color: transparent;
  background: transparent;
  border-width: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover, a:focus {
  color: white;
  text-decoration: none;
}

.navbar-nav li a {
 line-height: 50px;
}

.glyphicon-th {
  color: white;
  border: 1px solid white;
  padding: 5px;
}


/* LANDING */

#landing {
   background: url(../../landing.png) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landingText {
  font-size: 583%;
  font-weight: 800;
  margin-bottom: 10%;
}

.link{
  color: rgb(159, 7, 7);
}

a:hover, a:focus {
    color: rgb(159, 7, 7);
    text-decoration: none;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

hr {
  border: none;
}


/* ABOUT */
.main {
  margin: 0 auto -60px;
}

.main .img-responsive {
  margin-bottom: 0px;
}

.grid-custom .col-sm-6,
.grid-custom .col-xs-6,
.grid-custom .col-xs-12,
.grid-custom .col-sm-3 {
    /*padding:5px;*/
      }
.img-responsive¨
  }

.first-block{
  border-bottom: 5px #000 solid;
}

.squares {
  background-color: black;
  height: 305px;
}

#square1, #square4 {
  background-color: rgb(159, 7,7);
}

#square2, #square3 {
  background-color: rgb(132, 12, 12);
}

#about{
  height: 100%;
}

#aboutBlock {
  padding: 0;
  margin: 0;
}


/* TESTIMONIALS */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  color: black;
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}

.quotePerson {
  color: rgb(159, 7,7);
  text-decoration: capitalize;
  font-size: 15px;
}

.quoteLine {
  border-left: 2px solid black;
  padding-left: 15px;
}

/* HELLO */

#helloSection {
  background: url(../img/hello.png) no-repeat center center fixed;
  height: 600px;
}

#hello {
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 200px;
  text-align: center;
  margin-top: 10%;
}

#helloTag {
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: white;
  margin: 0;
}

/* FOOTER */

footer {
  background-color: black;
  height: 200px;
}

#subscribe {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 60px;
  color: grey;
  border-left: 1px solid white;
 /* border-bottom: 1px solid grey;*/
  text-align: left;
}

#keepup{
  color: white;
  text-align: left;
  margin-top: 5%;
  margin-bottom: -2%;
  font-size: 12px;
  font-weight: 500;
}


#signup{
  color: white;
  text-align: bottom;
  font-size: 12px;
  font-weight: 500;
  padding-top: 91px;
}




